[Desktop Entry]
Type=Application
Name=IBM SPSS Statistics 27.0
MimeType=application/x-font-speedo;
Exec=env "WINEPREFIX=/home/szahem/.wine" wine start /ProgIDOpen "SPSS.UIBuilderDocument" %f
NoDisplay=true
StartupNotify=true
Icon=FA0A_stats.0
