[Desktop Entry]
Type=Application
Name=IBM SPSS Statistics 27.0
MimeType=application/x-wine-extension-spsx;
Exec=env "WINEPREFIX=/home/szahem/.wine" wine start /ProgIDOpen "SPSS.PPDocument" %f
NoDisplay=true
StartupNotify=true
Icon=FA0A_stats.0
