[Desktop Entry]
Name=The Stanley Parable Demo
Comment=Play this game on Steam
Exec=steam steam://rungameid/247750
Icon=steam
Terminal=false
Type=Application
Categories=Game;
